*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#header{
  background-color: orangered;
  opacity: 1;
  width:100%;
  height: 100px;
  position: sticky;
  top: 0;
}

#header ul {
   

display: inline;
font-size: 20px;
list-style-type: none;
text-decoration-style: none;
background-color: wheat;
}
#header li {
float: left;
margin-top: 40px;
}
#header a{
color: white;
width: 230px;
text-align: center;
padding: 10px 36px;
display: block;
height: 50px;
line-height: 50px;
text-transform: uppercase;
cursor: pointer;
}

#header ul li ul li a{
    display: none;
}
#header ul li a:hover{
font-size: larger; 
transition: 0.6s;
   display:block;
}
#header ul li ul li a:hover{
    
    text-align:end;
    transition: 0.5s;

}
#header ul li a:hover +.homeSegments,.homeSegments:hover{
    
}
#header ul li a:hover + .forusSegments,.forusSegments:hover{
    display:block;
}
#header ul li a:hover + .contactSegments{
    display:block;
}

.homeSegments li{
    display: block;
    background-color: rgb(255, 166, 0, 0.3); 
    clear: both;
}
.forusSegmnets li {
    background-color: rgb(255, 166, 0, 0.3);
    clear: both;
}
.contactSegments li {
    background-color: rgb(255, 166, 0, 0.3);
    clear: both;
}

body{
    height: 100vb;
background-image: url(https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_1280.jpg);
  background-size:cover;
    background-position: top;
    text-align: center;
}
.alan{
    max-width:  1100px;
    margin: 0 auto;
    text-align: center;
}
#container{
     
    width: 75%;
    margin-top: 60px;


}

#blog-container{
    
    float :left;
    background-color: white;  
    opacity: 0.3;
    margin:20px;
    padding: 30px;

}

.date {
    position: relative;
    color: blue;
    right: -230px;
    top:50px;
    clear: right;
}

h1 {
    float: left;
    font-size: 20px;
    clear: both;
}

.blog-post{
    text-align: justify;
    border: 2px solid black;
    clear: both;
}

#otherside{
    width: 25%;
    margin: 0 auto;
    float :left;
    
}

.tops{
    list-style: none;
    font-size:20px;
    margin: 20px;
    color: black;
    opacity: 1;
}

#keyword ul li{
    
    list-style-type: none;
    color: red;
    padding: 5px;
    clear: right;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 30px;
    float: left;
}
a{
    text-decoration: none;
}

#rightside{
    padding:30px;
    margin: 20px;
    text-align: center;
    background-color: white;
    opacity: 0.3;

}

#share  a{
    text-decoration: none;
    margin-right: 10px;
    size: 20px;
    color: white;
    
}
#share a :hover{
     opacity: 0.6;
     font-size: larger;
     transition: 0.5s;
}
.box{
    border :2px solid white;
    margin-bottom: 10px;
    
}
span{
    display: none;
}
#created{
    font-size: 20px;
}
#created:hover span{
    display: block;
    font-size: 15px;
    transition: 0.8s;
    font-size: 25px;
}

